.container {
  padding: 50px;
  background: url(../../assets/portfolio-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.frame {
  border: 15px solid;
  border-bottom-color: #000000;
  border-top-color: #2e2e2e;
  border-left-color: #2e2e2e;
  border-right-color: #000000;
  margin-bottom: 20px;
  position: relative;
}

.inner-frame {
  padding: 10px;
  background-color: white;
}

.border {
  overflow: hidden;
  background-color: black;
}

.border img {
  cursor: none !important;
  transform: scale(1.2);
  transition: transform 0.5s;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.frame:hover img {
  opacity: 0.2;
  transform: scale(1);
}

.frame:hover .middle {
  opacity: 1;
}

.frame:hover .column2 {
  opacity: 1;
  transform: translateY(0%);
}

.frame:hover .column1 {
  opacity: 1;
  transform: translateX(-10%);
}

.frame:hover .description {
  opacity: 1;
  transform: translateY(0%);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 20%;
  padding-right: 15px;
  transition: all .40s ease-in-out 0s;
  opacity: 0;
  transform: translateX(-100%);
}

.column2 {
  float: left;
  width: 80%;
  overflow-x: hidden;
  padding-bottom: 5px;
  padding-left: 20px;
  opacity: 0;
  border-left: 2px solid white;
  transform: translateY(90%);
  transition: all .40s ease-in-out 0s;
  overflow-y: hidden;
}

.photo-title {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  position: relative;
}

.column1 .index {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.column2 .photo-title:after {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  bottom: 0;
  content: "";
  left: 0;
  margin: -5px auto;
  position: absolute;
  width: 20%;
}


.description {
  color: white;
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 400;
  transform: translateY(90%);
  transition: all .45s ease-in-out 0s;
}

.camera {
  fill: white;
  display: block;
  width: 20px;
}

.portfolio {
  text-align: center;
  padding: 100px 0;
  background-color: black;
  position: relative;
  width: 100%;
}

.portfolio sub {
  color: white;
}

.title {
  color: white;
  margin: 0;
  font-size: 60px;
  font-family: josefin sans, sans-serif;
}

.title::before {
  background: url(../../assets/title-line.png) no-repeat;
  bottom: -15px;
  content: "";
  display: block;
  float: left;
  height: 20px;
  left: 0;
  top: 200px;
  margin: 10px auto 0;
  position: absolute;
  right: 0;
  width: 100%;
  background-position: center center;
}

.btn-group {
  border-left: 0;
  clear: both;
  display: inline-block;
  /* float: left; */
  line-height: normal;
  margin: 35px 0 0 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.btn-group div {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.btn-group div div {
  --c: #a81c51;
  color: var(--c);
  font-size: 16px;
  border: 0.2em solid var(--c);
  width: 7em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 2.9em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  display: inline-block;
}

.btn-group div div span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.btn-group div div:hover {
  color: white;
}

.btn-group div div:hover span {
  transform: translateY(0) scale(2);
}

.btn-group div div span:nth-child(1) {
  --n: 1;
}

.btn-group div div span:nth-child(2) {
  --n: 2;
}

.btn-group div div span:nth-child(3) {
  --n: 3;
}

.btn-group div div span:nth-child(4) {
  --n: 4;
}

.div-active {
  background-color: #a81c51;
  color: white !important;
}