* {
  box-sizing: border-box;
}

.about {
  text-align: center;
  padding: 100px 0;
  background-color: black;
  position: relative;
  /* float: left; */
  width: 100%;
}

.about sub {
  color: white;
  width: 75%;
  display: inline-block;
}

.title {
  color: white;
  margin: 0;
  font-size: 60px;
  font-family: josefin sans, sans-serif;
}

.title::before {
  background: url(../../assets/title-line.png) no-repeat;
  bottom: -15px;
  content: "";
  display: block;
  float: left;
  height: 20px;
  left: 0;
  top: 200px;
  margin: 10px auto 0;
  position: absolute;
  right: 0;
  width: 100%;
  background-position: center center;
}

.about-section {
  background-color: black;
  padding: 50px;
  font-family: josefin sans, sans-serif;
}

.col-container {
  display: table;
  width: 100%;
  background-color: black;
}
.col {
  display: table-cell;
  padding: 16px;
  width: 50%;
}

.about-img-column {
  background-image: url(../../assets/ashu/ashu-about1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* border-width: 10px;
  border-style: solid;
  border-bottom-color: #a81c51;
  border-top-color: #f03c81;
  border-left-color: #f03c81;
  border-right-color: #a81c51; */
}

.col h3 {
  /* float: left;
  margin-bottom: 15px;
  padding: 0;
  width: 100%; */
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
}

.col p {
  /* float: left;
  margin-bottom: 50px;
  width: 100%; */
  color: white;
  line-height: 28px;
}

.second-column {
  padding: 40px;
  background-image: url(../../assets/portfolio-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .about-section {
    text-align: center;
  }

  .col {
    width: 100%;
  }

  .col-container h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .col-container p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1010px) {
  .about-img-column {
    min-height: 400px;
  }
  .col {
    display: block;
    width: 100%;
  }
}
