* {
  box-sizing: border-box;
}

.about {
  text-align: center;
  padding: 100px 0;
  background-color: black;
  position: relative;
  /* float: left; */
  width: 100%;
}

.about sub {
  color: white;
}

.title {
  color: white;
  margin: 0;
  font-size: 60px;
  font-family: josefin sans, sans-serif;
}

.title::before {
  background: url(../../assets/title-line.png) no-repeat;
  bottom: -15px;
  content: "";
  display: block;
  float: left;
  height: 20px;
  left: 0;
  top: 200px;
  margin: 10px auto 0;
  position: absolute;
  right: 0;
  width: 100%;
  background-position: center center;
}

.about-section {
  background-color: black;
  padding: 50px;
  font-family: josefin sans, sans-serif;
}

.about-section-row:after {
  content: "";
  display: table;
  clear: both;
}

.about-section-column {
  float: left;
  width: 50%;
  padding: 10px;
  /* height: 300px; */
}

.about-section-column img {
  width: 100%;
  height: auto;
}

.about-section-column h3 {
  /* float: left;
  margin-bottom: 15px;
  padding: 0;
  width: 100%; */
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  color: white;
}

.about-section-column p {
  /* float: left;
  margin-bottom: 50px;
  width: 100%; */
  color: white;
  line-height: 28px;
}

.second-column {
  padding: 0 50px 0 0;
}

.first-column {
  padding: 50px;
}

@media screen and (max-width: 800px) {
  .about-section {
    text-align: center;
  }

  .about-section-column {
    width: 100%;
  }

  .about-section-row h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .about-section-row p {
    margin-bottom: 20px;
  }
}