.blog-slideshow {
    height: 100%;
}

.blog-showcase {
    min-width: 100%;
    color: #fff;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
}

.blog-showcase h1 {
    font-size: 5rem;
    width: 90%;
    margin: 1.5rem auto;
}

.blog-showcase a {
    background: transparent;
    border: 2.5px solid #fff;
    color: #fff;
    font-family: inherit;
    text-transform: uppercase;
    padding: 0.8rem 1.4rem;
    outline: 0;
    transition: all 0.5s ease;
    text-decoration: none;
}

.blog-showcase a:hover {
    background: #fff;
    color: #000;
}

.blog-slideshow .react-slideshow-container .default-nav {
    height: 50px;
    width: 50px;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
    fill: white;
    transition: all 0.5s ease;
}

.blog-slideshow .react-slideshow-container .default-nav:hover {
    background-color: white;
    fill: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 400px) {
    .blog-showcase h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .blog-showcase h1 {
        font-size: 1.8rem;
    }

    .blog-showcase a {
        font-size: 1.05rem;
    }
}