* {
  box-sizing: border-box;
}

.blog {
  text-align: center;
  padding: 100px 0;
  background-color: black;
  position: relative;
  /* float: left; */
  width: 100%;
}

.blog sub {
  color: white;
  width: 75%;
  display: inline-block;
}

.title {
  color: white;
  margin: 0;
  font-size: 60px;
  font-family: josefin sans, sans-serif;
}

.title::before {
  background: url(../../assets/title-line.png) no-repeat;
  bottom: -15px;
  content: "";
  display: block;
  float: left;
  height: 20px;
  left: 0;
  top: 200px;
  margin: 10px auto 0;
  position: absolute;
  right: 0;
  width: 100%;
  background-position: center center;
}

.blog-section {
  background-color: black;
  padding: 50px;
  font-family: josefin sans, sans-serif;
}

.load-more-btn-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.load-more-btn-container div {
  --c: #a81c51;
  color: var(--c);
  font-size: 16px;
  border: 0.2em solid var(--c);
  /* width: 7em; */
  /* height: 3em; */
  text-transform: uppercase;
  padding: 0px 10px;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 2.9em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  display: inline-block;
}

.load-more-btn-container div span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.load-more-btn-container div:hover {
  color: white;
}

.load-more-btn-container div:hover span {
  transform: translateY(0) scale(2);
}

.load-more-btn-container div span:nth-child(1) {
  --n: 1;
}

.load-more-btn-container div span:nth-child(2) {
  --n: 2;
}

.load-more-btn-container div span:nth-child(3) {
  --n: 3;
}

.load-more-btn-container div span:nth-child(4) {
  --n: 4;
}

@media screen and (max-width: 800px) {
  .blog-section {
    text-align: center;
  }

  .blog-section-column {
    width: 100%;
  }

  .blog-section-row h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .blog-section-row p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 30px;
  }
}
